.button {
    width: 100px;
    height: 50px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    border: 1px solid #000;
    background-color: teal;
    margin: 20px 20px;
}
.button-pink {
    width: 100px;
    height: 50px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    border: 1px solid #000;
    background-color: teal;
}